.Desk-root {
  flex-direction: row;
  width: 100vw;
  display: flex;
}

.Desk-master {
  width: var(--master-width);
  max-width: var(--master-max-width);
  min-width: var(--master-min-width);
  height: 100vh;
  padding-top: var(--space-xxl);
  position: relative;
  display: flex;
}

@media (max-width: 768px) {
  .Desk-master {
    width: 100%;
    max-width: none;
  }

  .Desk-master.hide {
    display: none;
  }
}

@media (min-width: 992px) {
  .Desk-master {
    min-width: var(--master-min-width-lg);
  }
}

.Desk-detail {
  flex: 1;
  height: 100vh;
  padding-top: var(--space-xxl);
  position: relative;
  display: flex;
}

@media (max-width: 768px) {
  .Desk-detail.hide {
    display: none;
  }
}
