.Toolbar-root {
  height: var(--space-xxl);
  background-color: var(--palette-primary-main);
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
}

.Toolbar-button-area {
  color: var(--color-negative);
  align-items: center;
  display: flex;
}

.Toolbar-button-area:first-of-type {
  flex: 1;
}

.Toolbar-button-area.sm {
  visibility: hidden;
}

@media (max-width: 768px) {
  .Toolbar-button-area.sm {
    visibility: visible;
  }
}

.Toolbar-button-area.left-spaced {
  padding-left: var(--space-sm);
}
